body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    font-size: 18px;
}

.footer {
    margin-top: 20px;
    color: gray;
}
