<!DOCTYPE html>
<html>
<head>
    <title>Mini SCADA Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>⚡ Power Substation Monitoring</h1>

    <div class="card">Voltage: <b>{{ data.voltage }} V</b></div>
    <div class="card">Current: <b>{{ data.current }} A</b></div>
    <div class="card">Power: <b>{{ data.power }} kW</b></div>
    <div class="card">Frequency: <b>{{ data.frequency }} Hz</b></div>

    <p class="footer">Mini SCADA Project – Assignment</p>
</body>
</html>
